.idea/
.vscode/
.pytest_cache/
__pycache__/
logs/
static/logging/
static/pkg/
static/data/
instance/
flask/
pytest/
*.komodoproject
*.target
*.service
*.sh
*.bat
*.conf.py
*.code-workspace
!flask_conf_local.sh
!gunicorn.local.conf.py
!gunicorn.conf.py
pytest_hokuto.ini
pytest_zero.ini
pytest_zero_auth.ini
pytest_mek.ini


