.idea/
.vscode/
.pytest_cache/
__pycache__/
logs/
static/logging/
static/pkg/
static/data/
instance/
*.komodoproject
*.target
*.service
*.sh
*.bat
*.conf.py
pytest_hokuto.ini
pytest_zero.ini
pytest_zero_auth.ini

