<?xml version="1.0" encoding="UTF-8"?>
    
<configuration>
  <system.webServer>
    <!--directoryBrowse enabled="false" /-->
    <handlers accessPolicy="Read, Execute, Script">
      <add name="PythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\PROGRA~2\Python36-32\python.exe|C:\PROGRA~2\Python36-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="500" />
        </add>
      </traceFailedRequests>
    </tracing>
    
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <!-- znap - application file name i.e znap.py and app is a variable (attribute of this module) -->
    <add key="WSGI_HANDLER" value="run.app" /> 
    <add key="PYTHONPATH" value="F:\proej\task_rest\Lib\site-packages;F:\proej\task_rest\www\webapp" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="F:\proej\task_rest\www\logs\task.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <!--add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" /-->
    <!--add key="DJANGO_SETTINGS_MODULE" value="my_app.settings" /-->
    <!--add key="WSGI_PTVSD_SECRET" value="__secret_code__" /-->
    <!--add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" /-->
  </appSettings>
</configuration>    
    
